<%- include( 'nav.ejs' ) %>

    <div class="profile-btn" id="profileButton">
      <img src="profileImageElement.src" alt="프로필 사진" id="profileImage" />
    </div>

    <div class="channel-info" id="channelInfo">
      <h2>
        <p><strong id="channelName">로딩 중...</strong></p>
      </h2>
      <div><button id="uploadBtn" class="uploadBtn">upload</button></div>
    </div>
    <p class="error" id="errorMessage"></p>

    <div class="video-list" id="thumbnailsContainer"></div>

    <script src="/public/scripts/edit-channel.js"></script>
  </body>
</html>
