<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loopfiy</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/public/styles/video-edit-popup.css" />
    <link rel="stylesheet" href="/public/styles/edit-channel.css" />
    <link rel="stylesheet" href="/public/styles/channel-btn.css" />
    <link rel="stylesheet" href="/public/styles/channel.css" />
    <script type="module" src="../public/scripts/edit-channel.js"></script>
    <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="profile-btn" id="profileButton">
      <img src="profileImageElement.src" alt="프로필 사진" id="profileImage" />
    </div>

    <div class="channel-info" id="channelInfo">
      <h2>
        <p><strong id="channelName">로딩 중...</strong></p>
      </h2>
      <div><button id="uploadBtn" class="uploadBtn">upload</button></div>
    </div>
    <p class="error" id="errorMessage"></p>

    <div class="video-list" id="thumbnailsContainer"></div>

    <script src="/public/scripts/edit-channel.js"></script>
  </body>
</html>
<script></script>
