<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload</title>
</head>

<body>
  <input type="file" id="fileInput" />
  <button id="uploadBtn">Generate URL & Upload</button>

  <script>
    const uploadBtn = document.getElementById('uploadBtn');
    const fileInput = document.getElementById('fileInput');

    uploadBtn.addEventListener('click', async () => {
      const file = fileInput.files[0];
      if (!file) {
        alert('Please select a file!');
        return;
      }

      const payload = {
        fileName: file.name,
        bucket: '15-final-project', 
        region: 'ap-northeast-2', 
        fileType: file.type,
      };

      try {
        
        const response = await fetch('http://localhost:3000/s3/generate-url', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(payload),
        });

        if (!response.ok) throw new Error('URL 요청에 실패 했습니다.');

        const { presignedUrl } = await response.json();

        
        const uploadResponse = await fetch(presignedUrl, {
          method: 'PUT',
          body: file,
          headers: {
            'Content-Type': file.type,
          },
        });

        if (uploadResponse.ok) {
          alert('파일 업로드에 성공 하였습니다.');
        } else {
          throw new Error('파일 업로드에 실패 하였습니다.');
        }
      } catch (error) {
        console.error(error);
        alert('파일 업로드 중에 에러가 발생 했습니다.');
      }
    });
  </script>
</body>

</html>