<!doctype html>
<html lang="kr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loopfiy</title>
    <link rel="stylesheet" href="/public/styles/global.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="LoopfiyBar">
            <div class="log">
                <i class="fa-solid fa-bolt"></i>
                <a href="/main" class="bungee-spice-regular">Loopfiy</a>
            </div>
        </nav>
    </header>
    <form>
    </form>
</body>

</html>