<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="home" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100;
        background: linear-gradient(135deg, rgb(31, 31, 31), #cbcbcb);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #fff;
      }

      h2 {
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
      }

      form {
        /* background: rgba(54, 48, 48, 0.171); */
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      div {
        margin-bottom: 20px;
      }

      label {
        font-size: 1rem;
        color: #f6f2f2;
        margin-bottom: 5px;
        display: block;
      }

      input[type='text'],
      input[type='password'] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        box-sizing: border-box;
      }

      input[type='text']:focus,
      input[type='password']:focus {
        border-color: #e6e6e6;
        outline: none;
      }

      /* 버튼 스타일 */
      button[type='submit'] {
        width: 100%;
        padding: 12px;
        background: #fefefe15;
        color: #000000;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button[type='submit']:hover {
        background: #2575fc;
      }

      /* 반응형 디자인 */
      @media (max-width: 480px) {
        h2 {
          font-size: 1.5rem;
        }

        form {
          padding: 20px;
          width: 80%;
        }

        input[type='text'],
        input[type='password'] {
          padding: 10px;
          font-size: 1rem;
        }

        button[type='submit'] {
          padding: 10px;
          font-size: 1rem;
        }
      }
    </style>
  </head>

  <body>
    <form id="loginForm">
      <div>
        <label for="username">Email</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">로그인</button>
    </form>

    <script>
      const loginForm = document.getElementById('loginForm');

      loginForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const url = '/auth/login';

        try {
          const response = await fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              email: email.value,
              password: password.value,
            }),
          });

          const token = await response.headers.get('Authorization');

          console.log('난 로그인 토큰이야', token);

          if (token) {
            localStorage.setItem('token', token);
          } else {
            console.error('토큰이 존재하지 않습니다.');
          }
        } catch (error) {
          console.error(error);
          alert(`로그인 중 오류 발생: ${error.message}`);
        }
      });
    </script>
  </body>
</html>
