<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Loopfiy</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/public/styles/main.css" />
  <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="LoopfiyBar">
      <div class="log">
        <i class="fa-solid fa-bolt"></i>
        <a class="bungee-spice-regular">Loopfiy</a>
      </div>
      <div class="search_container">
        <input class="search_input" type="text" placeholder="Search">
      </div>
      <div class="loginBtn">
        <a href="/login" class="button">Sign In</a>
      </div>
    </nav>
  </header>
  <script>
    //윈도우 스크롤바 내량 양 + 눈에 보이는 높이 === 윈도우의 실제 총 높이 비교
    $(window).on('scroll', () => {
      const 스크롤양 = $(window).scrollTop(); // 스크롤된 양
      const 눈높이 = $(window).height(); // 브라우저 창 높이
      const 실제높이 = $(document).height(); // 전체 문서 높이

    //   if(스크롤양+눈높이 === 시제높이){
    //     const 신규6개 = 서버에서 6개씩 보내주는 데이터를 호출해

    //     const 템플릿 =  `
    //         <div class="shortform-grid">
    //           <div class="shortform-item placeholder">
    //             <div class="placeholder-video">${신규6개.프로필이미지}</div>
    //             <div class="placeholder-title">${신규6개.title}</div>
    //           </div>
    //         </div>
    //     `
    //   }
    // });

    //서버에서 신규 6개의 영상데이터를 반환 ( 기존에 보냈던 영상은 제외 )
    //자바스크립트 파일에서
  </script>
  <div class="container">
    <div class="main">
      <a href="/create-channel" class="link">test용 채널</a>
    </div>
    <div class="header-buttons">
      <div class="profile-btn" id="profileBtn">
        <img src="profileImageElement.src" alt="프로필 사진" class="profileImage" />
      </div>
      <div class="account-btn" id="accountBtn">
        <img src="profileImageElement.src" alt="계정 사진" class="profileImage" />
      </div>
    </div>
    <div class="shortform-grid">
      <div class="shortform-item placeholder">
        <div class="placeholder-video"></div>
        <div class="placeholder-title"></div>
      </div>
    </div>

    <div class="loading-indicator" id="loadingIndicator" style="display: none;">
      Loading more videos...
    </div>
  </div>
  <script src="/public/scripts/main.js"></script>
</body>

</html>