<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shortform Content</title>
  <link rel="stylesheet" href="/public/styles/main.css" />
  
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Loopify</h1>
    </div>
    <div class="header-buttons">
     
        <div class="profile-btn" id ="profileBtn">
          <img src="profileImageElement.src" alt="프로필 사진" class="profileImage" />
        </div>
        <div class="account-btn" id ="accountBtn">
          <img src="profileImageElement.src" alt="계정 사진" class="profileImage" />
        </div>
      </div>
    <div class="shortform-grid">
      <% for (let i = 0; i < 16; i++) { %> 
        <div class="shortform-item placeholder">
          <div class="placeholder-video"></div> 
          <div class="info">
            <div class="placeholder-title"></div> 
            <div class="placeholder-description"></div> 
            <div class="placeholder-hashtags"></div> 
          </div>
        </div>
      <% } %>
    </div>
  </div>

<script src="/public/scripts/main.js"></script>

</body>
</html>