<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Loopfiy</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/public/styles/main.css" />
  <link rel="stylesheet" href="/public/styles/nav.css" />
  <link rel="stylesheet" href="/public/styles/notification.css" />
 
  <script type="module" src="../public/scripts/main.js"></script>

  <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include( 'nav.ejs' ) %>

    <div id="videoBox" class="video-box container shortform-grid">

    </div>


    <!-- <div class="container">
      <div class="header-buttons">
        <div class="profile-btn" id="profileBtn">
          <img src="profileImageElement.src" alt="프로필 사진" class="profileImage" />
        </div>
        <div class="account-btn" id="accountBtn">
          <img src="profileImageElement.src" alt="계정 사진" class="profileImage" />
        </div>
      </div> -->

    <div class="shortform-grid"></div>

    <div class="loading-indicator" id="loadingIndicator" style="display: none">
      Loading more videos...
    </div>
    </div>

    <div id="notificationPopup"
      style="display: none; position: fixed; top: 20%; left: 50%; transform: translate(-50%, 0); background: white; width: 80%; max-width: 400px; height: 50%; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); overflow-y: auto; z-index: 1000;">
      <div id="notificationList"></div>
      <button id="closePopupButton" style="position: absolute; top: 8px; right: 8px;">닫기</button>
    </div>

    <div class="shortform-grid">

    </div>

    <div class="loading-indicator" id="loadingIndicator" style="display: none;">
      Loading more videos...
    </div>
    </div>
    <script src="/public/scripts/main.js"></script>
    <script src="/public/scripts/alarm.js"></script>
    <script src="/public/scripts/past-notifications.js"></script>
    <script src="/public/scripts/notifications-popup.js"></script>
    <script src="/public/scripts/search.js"></script>
</body>

</html>