<!-- ▼▼▼▼ 네브바 사용시 사용하고자 하는 ejs파일 상단 해더 부분에 아래내용을 복사해서 넣으세요 ▼▼▼▼ -->

<!-- 부트 스트렙 -->
<!-- <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
     rel="stylesheet"
   /> -->
<!-- nav로고 폰트 -->
<!-- <link
     href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
     rel="stylesheet"
   /> -->
<!-- nav로고 이미지 -->
<!-- <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
   <link
     href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css"
     rel="stylesheet"
   /> -->
<!-- nav CSS 파일 -->
<!-- <link rel="stylesheet" href="/public/styles/nav.css" /> -->

<!-- ▲▲▲▲▲ 네브바 사용시 사용하고자 하는 ejs파일 상단 해더 부분에 내용을 복사해서 넣으세요 ▲▲▲▲▲ -->

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div class="left-section log">
      <img
        id="toggleButton"
        src="/public/images/menu-30.png"
        alt="Toggle Header"
        style="cursor: pointer"
      />

      <a href="/" class="bungee-spice-regular">
        <i class="fa-solid fa-bolt"></i>
        Loopfiy
      </a>
    </div>

    <form id="searchForm" class="d-flex" role="search">
      <div class="search_container">
        <input
          id="searchInput"
          class="search_input"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
        <button type="submit" class="search-btn">
          <img src="/public/images/search-50.png" alt="Search Icon" />
        </button>
      </div>
    </form>
  </div>
</nav>
<header class="LoopfiyBar" id="toggleHeader" style="display: none">
  <div class="sidebar-menu-btn-box">
    <a href="/">
      <button class="sidebar-menu-btn" id="home">
        <img src="/public/images/home-50.png" alt="" />
        홈
      </button>
    </a>

    <a href="/videolist">
      <button class="sidebar-menu-btn" id="home">
        <img src="/public/images/icons8-compass-50.png" alt="" />
        탐색
      </button>
    </a>

    <!-- <button class="sidebar-menu-btn" id="liveBtn">
      <img src="/public/images/icons8-live-video-on-60.png" alt="" />
      Live
    </button> -->

    
    <div
      id="notificationPopup"
      style="
        display: none;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        background: #333333;
        width: 100%;
        max-width: 400px;
        height: 50%;
        border: 2px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        z-index: 1000;
      "
    >
      <div id="notificationList"></div>
      <button
        id="closePopupBtn"
        style="
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          padding: 10px 20px;
          background-color: #ffa600;
          color: #ffffff;
          border: none;
          border-radius: 8px;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          transition:
            background-color 0.3s ease,
            transform 0.2s ease;
        "
      >
        닫기
      </button>
    </div>
  </div>

  <div id="logoutsisarajim" class="sidebar-menu-btn-box logout-box">
    <a href="/myChannel">
      <button class="sidebar-menu-btn" id="myChannelLink">
        <img src="/public/images/user-50.png" alt="" />
        내 채널
      </button>
    </a>

    <button class="sidebar-menu-btn" id="notificationBtn">
      <img src="/public/images/reminder-50.png" alt="" />
      알림
    </button>

    <!-- <button class="sidebar-menu-btn" id="livestreaming">
      <img src="/public/images/go-live-50.png" />
      방송 하기
    </button> -->
    <div id="streamKeyModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <h3>방송 설정</h3>
        <p id="streamKeyText">여기에 스트림 키가 표시됩니다.</p>
        <p id="streamingUrlText">여기에 스트리밍 URL이 표시됩니다.</p>
        <label for="liveTitle">방송 제목:</label>
        <input type="text" id="liveTitle" placeholder="방송 제목을 입력하세요" />
        <button id="optionBtn">설정</button>
      </div>
    </div>

    <button class="sidebar-menu-btn" id="videoupload">
      <img src="/public/images/icons8-upload-64.png" />
      영상 업로드
    </button>
  </div>

  <div class="sidebar-menu-btn-box logout-box">
    <button id="logoutBtn" class="sidebar-logout-btn">
      <span id="logoutText">로그아웃</span>
    </button>
  </div>
  <span class="lest-text" id="logoutText">© 2024 LoopFiy</span>
</header>
<script src="/public/scripts/nav.js"></script>
<script src="/public/scripts/livestreaming.js"></script>
