<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
    <!-- 부트 스트렙 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- nav로고 폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <!-- nav로고 이미지 -->
    <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
    <link
      href="https://demos.creative-tim.com/argon-dashboard-pro/assets/css/nucleo-svg.css"
      rel="stylesheet"
    />
    <!-- nav CSS 파일 -->
    <link rel="stylesheet" href="/public/styles/nav.css" />

    <link rel="stylesheet" href="/public/styles/file-upload.css" />
  </head>
  <body>
    <!-- nav바 -->
    <%- include('nav') %>

    <div class="video-upload-container">
      <h1 class="video-upload-header">영상 업로드</h1>
  
      <form class="video-upload-form">
        <label for="title" class="video-upload-label">제목</label>
        <input type="text" id="title" class="video-upload-input" placeholder="제목을 입력하세요">
  
        <label for="hashtag" class="video-upload-label">해시태그</label>
        <input type="text" id="hashtags" class="video-upload-input" placeholder="해시태그를 입력하세요">
  
        <label for="description" class="video-upload-label">설명</label>
        <textarea id="description" class="video-upload-textarea" placeholder="여기에 입력하세요..."></textarea>
  
        <label for="visibility" class="video-upload-label">공개 여부</label>
        <select id="visibility" class="video-upload-select">
          <option value="public">공개</option>
          <option value="private">비공개</option>
        </select>

        <p class="video-upload-file-label">문서를 업로드해 주세요</p>
        <div class="video-upload-file-upload">
          <label for="file" class="video-upload-dropzone">
            <span class="video-upload-icon">⬆</span>
            <p class="video-upload-text"><strong>파일 찾아보기</strong></p>
            <p id="fileNameDisplay">영상파일을 첨부 하세요</p>
            <input type="file" id="file" class="video-upload-input-file">
          </label>
        </div>
  
        <button id="uploadbtn" type="submit" class="video-upload-button">업로드</button>
      </form>
    </div>


  <script src="public\scripts\new-file-upload.js"></script>
  </body>
</html>
