<!doctype html>
<html lang="kr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loopfiy</title>
    <link rel="stylesheet" href="/public/styles/global.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gamja+Flower&family=Gasoek+One&family=Hi+Melody&family=Jua&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
            rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a4db89020.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/reset-password.css" />
</head>

<body>
<header>
    <nav class="LoopfiyBar">
        <div class="log">
            <i class="fa-solid fa-bolt"></i>
            <a href="/main" class="bungee-spice-regular">Loopfiy</a>
        </div>
    </nav>
</header>
<main>
    <section class="password-reset-section">
        <h1 class="bungee-spice-regular">비밀번호 변경</h1>
        <p>변경할 비밀번호를 입력해주세요.</p>
        <form class="password-reset-form">
            <label for="email" class="form-label">비밀번호</label>
            <input type="password" id="password" name="password" required placeholder="password" class="form-input" />
            <button type="submit" class="submit-btn">
                <i class="fa-solid fa-paper-plane"></i> 비밀번호 변경
            </button>
        </form>
    </section>

    <!-- 모달 구조 -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <p>비밀번호가 변경되었습니다.</p>
            <button id="go-to-main-btn" class="modal-btn">메인페이지로 돌아가기</button>
        </div>
    </div>

    <script src = "/public/scripts/reset-password.js"></script>
</main>
</body>

</html>