<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loopfiy</title>
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <h1>HLS.js Streaming Example</h1>
    <video id="videoPlayer" controls></video>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="/public/scripts/hls.js"></script>
</body>

</html>