<!doctype html>
<html lang="kr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Loopfiy</title>
  <link rel="stylesheet" href="/public/styles/signup.css" />
  <link rel="stylesheet" href="/public/styles/quality.css" />
  <link rel="stylesheet" href="/public/styles/channel-btn.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Jua&display=swap" rel="stylesheet" />
</head>

<body>

  <div id="thumbnailsContainer">
    <button id="linkBtn">링크 공유</button>
  </div>

  <div id="qualityContainer">
    <button id="qualityToggleBtn">화질 선택</button>
    <div id="qualityOptions" class="hidden">
      <button class="qualityOptionBtn" data-quality="720p">720p</button>
      <button class="qualityOptionBtn" data-quality="360p">360p</button>
    </div>
  </div>

  <div class="channel-btn" id="channelBtnContainer">
    <img src="profileImageElement.src" alt="채널 사진" class="profileImage" />
  </div>

  <div id="thumbnailsContainer"></div>
  <script src="/public/scripts/video.js"></script>
  <script src="/public/scripts/link.js"></script>
  <script src="/public/scripts/quality.js"></script>
  <script src="/public/scripts/go-channel.js"></script>
</body>

</html>