body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100;
  background: linear-gradient(135deg, rgb(31, 31, 31), #cbcbcb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

form {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.link {
  position: relative;
  bottom: -20px;
  left: 40%;
  transform: translateX(-50%);
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

div {
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: #f6f2f2;
  margin-bottom: 5px;
  display: block;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

input[type='text']:focus,
input[type='password']:focus {
  border-color: #e6e6e6;
  outline: none;
}

button[type='submit'] {
  width: 100%;
  padding: 12px;
  background: #fefefe15;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background: #2575fc;
}


@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  form {
    padding: 20px;
    width: 80%;
  }

  input[type='text'],
  input[type='password'] {
    padding: 10px;
    font-size: 1rem;
  }

  button[type='submit'] {
    padding: 10px;
    font-size: 1rem;
  }
}
#findInfo {
  margin-top: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#findInfo a {
  text-decoration: none;
  color: #fefefe;
  font-size: 14px;
}

#findInfo a:hover {
  text-decoration: underline;
}
.social-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4285F4; /* 구글의 기본 파란색 */
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  margin-top: 500px;
}

.social-button:hover {
  background-color: #357ae8; /* 호버 시 약간 어두운 파란색 */
}

.social-button span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.social-button:before {
  /*content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/1200px-Google_2015_logo.svg.png'); !* 구글 아이콘 *!*/
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}