.main-body {
    background-color: black;
    color: white;
}

/* 중앙+중앙 정렬 */
.center-end-center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main-channel {
    /* border: 3px solid #2bff00; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 32px 24px 36px 24px;
}

/* 영상카드 */
.video-channel {
    /* border: 2px solid #ff0000; */
    height: 100%;
    width: auto;
}

.video-box { 
    /* border: 1px solid #ffe600; */
    position: relative;
    height: 100%;
    border-radius: 15px;
    aspect-ratio: 9 / 16;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.233);
}

.video {
    width: 100%;
    height: 100%;
}

.err-box {
    /* border: 3px solid #2bff00; */
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
}

/* 버튼 바 관련 */
.btn-box {
    /* border: 1px solid #006eff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: auto
}

.btn {
    /* border: 1px solid #006eff; */
    border-radius: 50%;
    height: 60px;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
    background-color:rgba(61, 61, 61, 0.329);
    color: white;
}

.btn img {
    width: 100%;
}


