/* 채널 메인 컨테이너 */
.main-channel {
    /* border: 1px solid #00ff00; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 32px 24px 36px 24px;
}

/* 중앙+중앙 정렬 */
.center-end-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 하단 비디오 박스 */
.video-list-container {
    /* border: 1px solid #ff0000; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr));
    width: 100%;
}

.video-list-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 1fr;
}

@media screen and (min-width: 1200px) {
    .video-list-box {
      grid-template-columns: repeat(4, 1fr);
    }
  }

@media screen and (min-width: 1500px) {
  .video-list-box {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .video-list-box {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 2100px) {
  .video-list-box {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .video-list-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .video-list-box {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.233);
  /* text-align: center; */
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  aspect-ratio: 9 / 12;
  font-family: 'Jua', sans-serif;
  background-size: cover; /* 부모 박스를 꽉 채움 */
  background-position: center; /* 이미지의 중앙을 기준으로 표시 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
}

.video-card:hover {
  transform: scale(1.03);
}

.video-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 10px;

}

.video-card h3 {
  font-size: 20px;
  /* font-weight: bold; */
  /* margin: 5px 0; */
  color: #ffffff;
  /* text-align: center; */
}

.video-card p {
    display: none;
}

.video-card .hashtags {
  font-size: 15px;
  color: #777;
  text-align: left;
  margin: 5px 0;
  width: 100%;
}